@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Roboto", sans-serif;
    /* border:1px solid #ccc; */
}

input, select{
    width: 100%;
    border: 1px solid rgb(121, 121, 121);
    padding: 4px 8px;
    border-radius: 4px;
    margin: 4px;
}

.button{
    @apply px-4 py-2 flex gap-2 text-white rounded-lg cursor-pointer justify-evenly bg-primary;

}